@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600');

/* ********** General styling  ********** */
:root {
    font-family: 'Nunito Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.body {
    max-width: 960px;
    margin: auto;    
    background: #faebd7 url('/static/images/background.jpg') no-repeat fixed center;
    background-size: 1120px 100vh;
    min-height: 100vh;
    position: relative;
}

.section {
    margin: 2rem auto;
    padding: 1.5rem 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: #fff;
    width: 98%;
}

/* ********** Navbar / Menu ********** */

.header {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0 0 10px 10px;
}

.menubar-list-item {
    list-style: none;
}

.menu-items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menu-item {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.menu-item:hover {
    color: #e8e816;  
}


/* ***** Buttons ***** */

.btn {
    box-sizing: content-box;
    padding: 0.2rem 1.5rem;
    font-size: 1rem;
    margin: 0.3rem;
    border-radius: 10px;
    text-decoration: none;
    text-transform: capitalize;
}

.btn-start {
    background-color: #00aa00;
    color: #ffffff;
    border: 1px solid #00aa00;
}

.btn-return {
    background-color: #ffaa00;
    color: #ffffff;
    border: 1px solid #ffaa00;
}

.btn-skip {
    background-color: #ff0000;
    color: #ffffff;
    border: 1px solid #ff0000;
}

.return-button-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

/* ********** Flash Messages ********** */

.flash-message-container {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.flash-message {
    padding: 0.5rem;
    border-radius: 10px;
    font-weight: 600;
    margin: auto;
    width: 80%;
    text-align: center;
    border-width: 2px;
    border-style: solid;
}

.first-warning {
    background-color: rgba(231, 191, 13, 0.5);
    border-color: #e7bf0d;
    color: #ffffff;
}

.second-warning {
    background-color: rgba(255, 115, 0, 0.5);
    border-color: #ff7300;
    color: #ffffff;

}

.error {
    background-color: rgba(255, 0, 0, 0.5);
    border-color: #ff0000;
    color: #ffffff;
}

.victory {
    background-color: rgba(0, 255, 0, 0.5);
    border-color: #00ff00;
    color: #ffffff;
}

/* ********** Footer ********** */

.section-separator {
    line-height: 1rem;
}

.footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: #ffffff;
  }

  .footer p {
      margin: 0;
      font-size: .8rem;
  }

/* ***** Form stylings ***** */

#form-details {
    padding-top: 2rem;
    margin: auto;
    max-width: 80%;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center; 
}

.form-items label {
    padding: 0 5px 0 0;
    text-align: right;
}

#username,
#answer {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-size: 0.8rem;
}

/* ***** Index Page ***** */

.game-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.game-instructions {
    padding-top: 1rem;
}

.game-instructions-list {
    padding-left: 10px;
}

/* ***** Riddle Page ***** */

.riddle-question {
    padding: 1rem 0 0.5rem 0;
    font-size: 1.2rem;
}

.riddle-answer-form  {
    display: flex;
    padding-top: 3rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.riddle-answer {
    padding: 0.5rem 0;
}

.riddle-answer span {
    padding-right: 0.3rem;
}

.riddle-answer-form input {
    margin: 0 5px;
}


/* ***** Scoreboard Page ***** */

.scoreboard-wrapper {
    margin: auto;
    width: 70%;
    padding: 1rem 2rem;

}

.table-head {
    background-color: #333333;
    text-transform: uppercase;
}

.username-column {
    padding-left: 0.6rem;
}

.score-column {
    text-align: center;
}

.odd {
    background-color: #cbcbcb;
    color: #333333;
}

.even {
    background-color: #333333;
    color: #f3f3f3;
}

.button-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}

/* ***** Media Queries ***** */

@media screen and (max-width: 760px) {
    #form-details {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .form-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-right: 15%; 
    }

    .main-section {
        padding: 1.5rem 1rem;
    }

    .scoreboard-wrapper {
        width: 95%;
    }

}