<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="{{url_for('static', filename='css/style.css')}}" type="text/css" >

    <title>Riddle Me This!</title>
</head>
<body class="body">
    <header class="header">
        <nav>
            <ul class="menu-items">
                <li class="menubar-list-item"><a class="menu-item" href="{{ url_for('index') }}">Home</a></li>
                {% if session == False %}
                    <li class="menubar-list-item"><a class="menu-item" href="{{ url_for('index') }}">Login</a></li>
                {% else %}
                    <li class="menubar-list-item"><a class="menu-item" href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
                <li class="menubar-list-item"><a class="menu-item" href="{{ url_for('scoreboard') }}">Scoreboard</a></li>
            </ul>
        </nav>    
    </header>

    <section class="section">
        {% block content %}

        {% endblock %}
    </section>
    <br class="section-separator">
    <footer class="footer">
        <p>Designed by Giovanni Bronca<sup>&copy;</sup></p>
    </footer>
</body>
</html>