{% extends 'base.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Score</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
                <tr>
                    <td class="{{ loop.cycle('odd', 'even') }}">{{ score.username }}</td>
                    <td class="{{ loop.cycle('odd', 'even') }}">{{ score.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% if index < 10 %}
        <a class="btn-return" href="{{ url_for('riddle') }}">return</a>
    {% endif %}

{% endblock %}