{% extends 'base.html' %}

{% block content %}
    <table class="scoreboard-wrapper">
        <thead class="table-head">
            <tr>
                <th>Score</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
                <tr>
                    <td class="username-column {{ loop.cycle('odd', 'even') }}">{{ score.username }}</td>
                    <td class="score-column {{ loop.cycle('odd', 'even') }}">{{ score.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if index < 10 %}
        <div class="button-container">
            <a class="btn btn-return" href="{{ url_for('riddle') }}">return</a>
        </div>
    {% endif %}

{% endblock %}